services:

  mongodb:
    image: mongo:6
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: examplepassword
    volumes:
      - mongo-data:/data/db
    networks:
      - app-net

  backend:
    image: ${DOCKERHUB_USERNAME:-ganu468}/crud-mean-app-backend:latest
    restart: unless-stopped
    environment:
      MONGO_URL: "mongodb://root:examplepassword@mongodb:27017/yourdbname?authSource=admin"
      PORT: 3000
    depends_on:
      - mongodb
    networks:
      - app-net

  frontend:
    image: ${DOCKERHUB_USERNAME:-ganu468}/crud-mean-app-frontend:latest
    restart: unless-stopped
    depends_on:
      - backend
    networks:
      - app-net

  nginx:
    image: nginx:stable-alpine
    restart: unless-stopped
    volumes:
      - ./deploy:/etc/nginx/conf.d:ro
      - ./frontend/dist/angular-15-crud:/usr/share/nginx/html:ro
    ports:
      - "80:80"
    depends_on:
      - frontend
    networks:
      - app-net

volumes:
  mongo-data:

networks:
  app-net:
    driver: bridge
